modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"
packages = ["unzip"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "FileCheck"

[[workflows.workflow]]
name = "FileCheck"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "ls -la && echo \"Checking for Discord bot files...\""

[deployment]
run = ["sh", "-c", "ls -la && echo \"Checking for Discord bot files...\""]
